<link href="{{ 'stylesheet.css' | asset_url }}" rel="stylesheet" />
<div id="root"></div>
<script defer="defer" src="{{ 'script.js' | asset_url }}"></script>
{% schema %}
  {
    "name": "Ozia Chatbot",
    "target": "body",
    "settings": []
  }
{% endschema %}
