.main-button {
	border-radius: 30%;
	border: transparent;
	background: transparent;
	color: white;
	background: var(--primary-color-1);
	border: 2px solid white;
	box-shadow: var(--box-shadow-2);
	transition: border 500ms;
}

.main-button:hover {
	border: 2px solid var(--primary-color-2);
	cursor: pointer;
}

.main-button-icon {
	padding: var(--padding-size-0);
	display: flex;
	border-radius: 30%;

	font-size: xx-large;
	align-items: center;
	justify-content: center;
	transition: display 0.5s;
}

.icon-active {
	color: white;
	background: var(--primary-color-1);
}

.icon-hovered {
	position: absolute;
	color: var(--primary-color-2);
	background: white;
	animation: 500ms opening;
}

.icon-left {
	animation: 500ms closing;
}

@keyframes opening {
	from {
		transform: scale(0.3);
	}
	to {
		transform: scale(1);
	}
}

@keyframes closing {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.3);
		color: white;
	}
}
