#chatboard-container {
	width: 400px;
	height: 700px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: var(--border-radius-1);

	box-shadow: var(--box-shadow-2);
}

#chatboard-control {
}