#app-container {
	position: fixed;
	bottom: calc(2 * var(--padding-size-0));
	left: var(--padding-size-1);
}


@media screen and (max-width: 420px) {
	.app-container-expanded {
		width: 100% !important;
		height: 100% !important;
		bottom: 0 !important;
		left: 0 !important;
	}
}