#app-container {
	position: fixed;
	bottom: var(--padding-size-1);
	left: var(--padding-size-1);
}

.app-container-expanded {
	bottom: var(--padding-size-1) !important;
}


@media screen and (max-width: 420px) {
	.app-container-expanded {
		width: 100% !important;
		height: 100% !important;
		bottom: 0 !important;
		left: 0 !important;
	}
}