body {
	margin: 0;
	font-family: "Inter", Verdana;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
}

:root {
	/* background colors */
	--primary-color-1: #3FA7D6;
	--primary-color-2: #9AD0EA;
	--primary-color-3: #eeeeee;
	--primary-color-4: #278BB9;


	--message-color-me: #3FA7D6; /*#248bf5;*/ /* iMessage color */
	--message-color-them: #e5e5ea;

	/* foreground colors */
	--secondary-color-1: white;

	/* padding sizes */
	--padding-size-0: 20px;
	--padding-size-1: 10px;
	--padding-size-2: 5px;

	--border-radius-1: 10px;
	--border-radius-2: 5px;

	--box-shadow-1: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	--box-shadow-2: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

	--primary-satisfied-color: #157F1F;
	--primary-dissatisfied-color: #C44536;
	--secondary-satisfied-color: #157F1F;
	--secondary-dissatisfied-color: #C44536;

	--hovered-satisfied-color: #1A9E27;
	--hovered-dissatisfied-color: #CF5C4F;
}
