.message-text {
	align-items: center;
	display: inline-flex;
	min-height: 32px;
}

.message-sent {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 5px;
	background-color: black;
	color: white;
}

.message-received {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 15px;
	background-color: lightgrey;
	color: dark;
}

.message-image {
	width: 30px;
	height: 30px;
}

.message-container {
	align-items: flex-end;
}

.button-container {
	margin-left: calc(30px + .5rem);
}

.button-option {
	width: 100%;
	border-radius: 15px !important;
}

#conversation-end {
	color: grey;
	font-size: small;
}
